<h1>Welcome to Meal Tracker</h1>
<p>Track your meals and manage your diet effectively.</p>
{{#if user}}
  <p>Welcome back, {{user.username}}!</p>
  <a href="/protected">Go to your profile</a>
{{else}}
  <p>Please <a href="/login">login</a> or <a href="/signup">sign up</a> to get started.</p>
{{/if}}
